{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <h2>Courses</h2>

    {% if is_teacher %}
        <a href="{% url 'createcourse' %}" class="btn btn-primary">Create Course</a>
    {% endif %}

    <div class="mt-3">
        <a href="{% url 'joincourse' %}" class="btn btn-secondary">Join Course</a>
    </div>

    
    {%if enrolled_courses%}
    <hr>

    <div class="mt-4">
        <h1>Enrolled Courses</h1>
        <ul class="list-group">
            {% for course in enrolled_courses %}
                <li class="list-group-item">
                    <a href="{% url 'coursehome' course.id %}">
                        {{ course.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if is_teacher %}
    {%if taught_courses%}
    <hr>

        <div class="mt-4">
            <h1>Taught Courses</h1>
            <ul class="list-group">
                {% for course in taught_courses %}
                    <li class="list-group-item">
                        <a href="{% url 'coursehome' course.id %}">
                            {{ course.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endif %}
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        color: #333;
    }

    a.btn {
        margin-right: 10px;
    }

    ul.list-group {
        margin-top: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }
    
</style>

{% endblock %}
